---
import NavItem from "-components/atoms/NavItem.astro";
import type { HTMLAttributes } from "astro/types";

export type props = HTMLAttributes<"ul">;

const props = Astro.props;

//TODO move in editable settings file so one can edit this in decap cms
const externalLinks = [
  {
    href: "https://www.tricks-gegen-ticks.de/",
    text: "Impulskontrollstörungen/ Tics",
  },
  { href: "https://du-auch.de/", text: "Traumafolgestörungen" },
  { href: "http://schlafgestoert.de/", text: "Schlafstörungen" },
  { href: "http://www.quit-the-shit.net/qts/", text: "Cannabisentwöhnung" },
];
---

<div class="flex flex-col">
  <h2 class="mb-4 text-xl text-teal-400 drop-shadow-md">Nützliches</h2>
  <ul {...props}>
    {
      externalLinks.map((link) => (
        <NavItem>
          <a href={link.href}>{link.text}</a>
        </NavItem>
      ))
    }
  </ul>
</div>
