/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--beaver: hsla(16, 23%, 51%, 1);
	--gamboge: hsla(35, 79%, 53%, 1);
	--chili-red: hsl(16, 100%, 50%, 1);
	--chili-red-light: hsl(16, 100%, 60%, 1);
	/* --chili-red: hsla(7, 72%, 53%, 1); */
	--paynes-gray: hsla(200, 19%, 42%, 1);
	/* --blue-munsell: rgb(59, 131, 145); */
	--blue-munsell: hsl(190, 42%, 40%);
	--blue-munsell-light: hsl(190, 50%, 60%);
	/* --gnurange: "#ff4400" */
}