---
import type { ComponentInstance } from "astro";
import EmailShareButton from "./Email.astro";
import FacebookShareButton from "./Facebook.astro";
import HackerNewsShareButton from "./HackerNews.astro";
import LinkedInShareButton from "./LinkedIn.astro";
import RedditShareButton from "./Reddit.astro";
import TwitterShareButton from "./Twitter.astro";
import type ButtonProps from "./types";
import type { HTMLAttributes } from "astro/types";

//TODO create a map and a prop button attributes get rid of via prop for all buttons
type Props = ButtonProps &
  HTMLAttributes<"div"> & {
    buttons?: (typeof Astro.self)[];
  };

const DEFAULT_COMPONENTS = [
  TwitterShareButton,
  FacebookShareButton,
  HackerNewsShareButton,
  LinkedInShareButton,
  RedditShareButton,
  EmailShareButton,
];

const {
  buttons = DEFAULT_COMPONENTS,
  url = Astro.request.url,
  title,
  description,
  via,
  ...rest
} = Astro.props;
---

<div {...rest}>
  {
    buttons.map((Btn) => (
      <Btn url={url} description={description} via={via} title={title} />
    ))
  }
</div>
