---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"button">;
---

<button transition:persist {...Astro.props} data-role="backlink">
  <slot />
</button>
<script>
  const setup = () => {
    const element: HTMLButtonElement | null = document.querySelector(
      '[data-role="backlink"]',
    );
    // Provide a standard href to facilitate standard browser features such as
    //  - Hover to see link
    //  - Right click and copy link
    //  - Right click and open in new tab
    if (element) {
      element?.setAttribute("href", document.referrer);
      element?.setAttribute("title", document.referrer);
      // We can't let the browser use the above href for navigation. If it does,
      // the browser will think that it is a regular link, and place the current
      // page on the browser history, so that if the user clicks "back" again,
      // it'll actually return to this page. We need to perform a native back to
      // integrate properly into the browser's history behavior
      element.onclick = function () {
        history.back();
        return false;
      };
    }
  };
  //   document.addEventListener("astro:after-swap", setup);
  document.addEventListener("astro:page-load", setup);
</script>
