---
import { getEntry, type CollectionEntry } from "astro:content";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./atoms/ThemeIcon.astro";
import { twMerge } from "tailwind-merge";

type Props = {
  isHome?: boolean;
  title?: string;
  classNames?: string;
  containerClass?: string;
};
const main: CollectionEntry<"navigation"> = await getEntry(
  "navigation",
  "main",
);
const items = main.data;
const { isHome, classNames, containerClass } = Astro.props;
---

<header class={twMerge("z-50 flex w-full flex-row", containerClass)}>
  <nav
    class={twMerge(
      "ml-auto flex flex-row space-x-4 self-end items-end p-4 text-xl sm:text-4xl font-extrabold uppercase",
      classNames,
    )}
  >
    {items.map((a) => <HeaderLink href={a.path}>{a.displayName}</HeaderLink>)}
    {!isHome && <ThemeIcon transition:persist />}
  </nav>
</header>
<style>
  nav a {
    -webkit-text-stroke: 1px var(--chili-red);
  }
</style>
