---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

type Props = HTMLAttributes<"a"> & { showUnderline?: boolean };

const { href, class: className, showUnderline, ...props } = Astro.props;
const decorate = typeof showUnderline === "undefined" ? true : showUnderline;
const { pathname } = Astro.url;
const isRoot = href === "/";
const isSub = !isRoot && pathname.includes(href?.toString() ?? "");
const isActive =
  href === pathname || href === pathname.replace(/\/$/, "") || isSub;
---

<a
  href={href}
  style={{ "text-shadow": "2px 2px var(--chili-red)" }}
  class:list={[
    twMerge(
      className,
      // "text-transparent",
      "hover:text-gnurange-light",
      "drop-shadow-md",
    ),
    { "font-bolder ": isActive },
    { "underline underline-offset-4": decorate },
    { "no-underline": !isActive || isRoot },
  ]}
  {...props}
>
  <slot />
</a>
<style>
  /* a {
    display: inline-block;
    text-decoration: none;
    text-shadow: 2px 2px #ff4400;
  }
  ,
  a.active.underline {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }
  ,
   a.active {
    font-weight: bolder;
  }  */
</style>
