---
import { getEntry, type CollectionEntry } from "astro:content";
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./atoms/ThemeIcon.astro";
import { twMerge } from "tailwind-merge";

type Props = { isHome?: boolean; title?: string; classNames?: string };
const main: CollectionEntry<"navigation"> = await getEntry(
  "navigation",
  "main",
);
const items = main.data;
const { isHome, classNames } = Astro.props;
---

<header class="fixed z-50 flex w-full flex-row">
  <nav
    class={twMerge(
      "ml-auto flex flex-row space-x-4 self-end p-4 text-2xl sm:text-4xl font-extrabold uppercase",
      classNames,
    )}
  >
    {items.map((a) => <HeaderLink href={a.path}>{a.displayName}</HeaderLink>)}
    {!isHome && <ThemeIcon transition:persist />}
  </nav>
</header>
<style>
  nav a {
    -webkit-text-stroke: 1px var(--chili-red);
  }
</style>
