---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { showUnderline?: boolean };

const { href, class: className, showUnderline, ...props } = Astro.props;
const decorate = typeof showUnderline === "undefined" ? true : showUnderline;
console.log(decorate, showUnderline);
const { pathname } = Astro.url;
const isRoot = href === "/";
const isSub = !isRoot && pathname.includes(href?.toString() ?? "");
const isActive =
  href === pathname || href === pathname.replace(/\/$/, "") || isSub;
---

<a
  href={href}
  style={{ "text-shadow": "2px 2px var(--chili-red)" }}
  class:list={[
    className,
    "text-transparent",
    { "font-bolder ": isActive },
    { "underline underline-offset-4": decorate },
    { "no-underline": !isActive },
    { "no-underline": isRoot },
    // { "text-white": !isRoot },
    "hover:text-gnurange-light",
    "drop-shadow-md",
  ]}
  {...props}
>
  <slot />
</a>
<style>
  /* a {
    display: inline-block;
    text-decoration: none;
    text-shadow: 2px 2px #ff4400;
  }
  ,
  a.active.underline {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
  }
  ,
   a.active {
    font-weight: bolder;
  }  */
</style>
