---
import type { HTMLAttributes } from "astro/types";
import { LINK_PREFIX } from "consts";

type Props = HTMLAttributes<"a">;
const { href, ...rest } = Astro.props;
const hrefWithBaseUrl = `${LINK_PREFIX}${href}`;
---

<a href={hrefWithBaseUrl} {...rest}><slot /></a>
