---
import type { HTMLAttributes } from "astro/types";
import { LINK_PREFIX } from "consts";
export type Props = HTMLAttributes<"a">;
const { href, ...rest } = Astro.props;
const augHref = `/${LINK_PREFIX}${href}`;
console.log(augHref);
---

<a href={`/${LINK_PREFIX}${href}`} {...rest}><slot /></a>
