---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import Link from "./Link.astro";
import placeHolderHero from "~assets/images/blog-generic-placeholder.jpg";
import { Image } from "astro:assets";

type Props = { posts: CollectionEntry<"blog">[] };

const { posts } = Astro.props;
---

<nav role="list" class="w-full">
  <ul class="flex flex-wrap">
    {
      posts.map((post) => (
        <li class="w-full text-slate-800 first:w-full dark:text-slate-100 md:w-1/2 md:p-4">
          <Link class="relative overflow-hidden " href={`/blog/${post.slug}/`}>
            <Image
              class="h-[360px] w-full rounded-xl  object-cover drop-shadow-md"
              width={720}
              height={360}
              src={post.data.heroImage ?? placeHolderHero}
              alt=""
            />
            <slot class="title">
              <h4 class="title">{post.data.title}</h4>
            </slot>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
