---
import type { ReadTimeResults } from "reading-time";

type Props = { readtimeObj: ReadTimeResults; prefix: string; suffix?: string };
const { readtimeObj, prefix, suffix } = Astro.props;
const rounded = Math.round(readtimeObj.minutes);
const suff = !suffix ? (rounded < 2 ? "Minute" : "Minutes") : suffix;
---

<div>
  {prefix}&nbsp;{rounded}&nbsp;{suff}
</div>
