---
// import FooterBrand from "../molecules/footer/FooterBrand.astro";
import FooterNavigation from "../molecules/footer/FooterNavigation.astro";
import UsefulLinks from "../molecules/footer/UsefulLinks.astro";
---

<div class="flex flex-col flex-wrap sm:flex-row sm:items-baseline">
  <div
    class="order-2 mb-4 text-center sm:order-1 sm:mb-0 sm:w-1/3 sm:text-left"
  >
    <UsefulLinks />
  </div>
  <div class="order-1 mb-4 sm:order-2 sm:mb-0 sm:w-1/3">
    <!-- <FooterBrand /> -->
  </div>
  <div
    class="order-3 mb-4 text-center sm:order-3 sm:mb-0 sm:w-1/3 sm:text-right"
  >
    <FooterNavigation />
  </div>
</div>
