---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import DocumentLayout from "layouts/DocumentLayout.astro";
import placeHolderHero from "~assets/images/blog-generic-placeholder.jpg";
import FormattedDate from "~components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection(
    "blog",
    (p) => p.data.tags == "music-production",
  );
  return posts.map((post) => {
    console.log(post.data);
    return {
      params: { tags: post.data.tags },
      props: post,
    };
  });
}
const posts = (
  await getCollection("blog", (p) => p.data.tags == "music-production")
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<DocumentLayout
  title="Music-production Posts"
  description="a list of all post of category music-production"
>
  <section class="flex h-full items-center justify-center pt-20">
    <ul class="">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <Image
                class="h-[360px] object-cover"
                width={720}
                height={360}
                src={post.data.heroImage ?? placeHolderHero}
                alt=""
              />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</DocumentLayout>
