---
import BaseHead from "-components/BaseHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="h-full">
    <slot />
  </body>
</html>
