---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "~components/BaseHead.astro";
import Footer from "~components/Footer.astro";
import Header from "~components/Header.astro";

type Props = Pick<CollectionEntry<"blog">["data"], "title" | "description">;

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="dark:bg-radial h-full bg-gnutrast-light"
    transition:animate="none"
  >
    <Header classNames="text-transparent" />
    <main class="container mx-auto" transition:animate="fade">
      <slot />
    </main>
    <Footer />
  </body>
</html>
