---
import DocumentLayout from "~layouts/DocumentLayout.astro";
import { Image } from "astro:assets";

const images = await Astro.glob("../../assets/images/merch/*");
---

<DocumentLayout
  title="GNU merchandise"
  description="We are GNU. This is a list with all of its members."
>
  <div class="flex h-full items-center justify-center">
    <div
      class="flex flex-row flex-wrap items-center justify-center space-y-2 p-4"
    >
      {
        images.map((img) => (
          <Image
            class="h-48 w-1/2 max-w-xs  object-contain"
            src={img.default}
            alt="merge"
          />
        ))
      }
    </div>
  </div>
</DocumentLayout>
